{% extends "partials/base" %}

{% block content %}
    <h1 id="{{ receipt.id }}">{{ receipt.store }} - {{ receipt.date }} - {{ receipt.subtotal | round(method="ceil", precision=2) }}</h1>
    <ul>
        {% for item in receipt.items %}
            <li>{{ item.name }} - {{ item.price | round(method="ceil", precision=2) }} (discount: {{ item.discount | round(method="ceil", precision=2) }})</li>
        {% endfor %}
    </ul>
{% endblock content %}