{% extends 'partials/base' %}

{% block content %}
    <h1>user_created.html.tera</h1>
    <p class="text-red-500 underline">NYI</p>

    <div>
        <p>{{user.email}}</p>
    </div>
{% endblock content %}