{% extends "base" %}

{% block content %}
    <h1>Receipt Overview</h1>
    {% for receipt in receipts %}
        <a href='/receipt/{{receipt.id}}'>
            <p id="{{ receipt.id }}">{{ receipt.store }} - {{ receipt.date }} - {{ receipt.subtotal | round(method="ceil", precision=2) }}</p>
        </a>
    {% endfor %}
{% endblock content %}